.cloud-svg{
  position: absolute;
  bottom:-8px;
  width:100%;
}

#header{
  position: relative;
  text-align: center;
  color: #FFF;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  @include background(url("../img/bg2.jpg"), linear-gradient(#66CCCC, #EEE), center no-repeat scroll);
  @include size(100% 798px);

  .shadow{
    background: rgba(0,0,0,.5);
    width: inherit;
    height: inherit;
    @include position(absolute, 0 null null 0);
  }
}

//articles
#articles{
  //height:500px;
  position: relative;
}


//quotation
#quotation{
  position: relative;
  @include background(url("../img/bg1.jpg") center no-repeat fixed);
  @include size(100% 175px);
}

