//TV effect text
.glitch{
  color: white;
  font-size: 70px;
  position: absolute;
  width: 99.9%;
  top: 200px;
  margin: 0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content: attr(data-text);
  position: absolute;
  left: 1px;
  text-shadow: -2px 0 blue;
  top: 0px;
  width: inherit;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content: attr(data-text);
  position: absolute;
  left: -1px;
  width: inherit;
  text-shadow: 2px 0 red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

//the clock toy

#clock3D {
  -webkit-transform: perspective(600px) rotateY(0deg) rotateX(0deg) rotateX(0deg) translateZ(200px) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 100px 100px 0px;
  -moz-transform: perspective(600px) rotateY(0deg) rotateX(0deg) rotateX(0deg) translateZ(200px) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: 100px 100px 0px;
  -ms-transform: perspective(600px) rotateY(0deg) rotateX(0deg) rotateX(0deg) translateZ(200px) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
  -ms-transform-style: preserve-3d;
  -ms-transform-origin: 100px 100px 0px;

  transform: perspective(600px) rotateY(0deg) rotateX(0deg) rotateX(0deg) translateZ(200px) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0px;

  //width: 200px;
  height: 200px;
  position: absolute;
  top: 5px;
  left: 50px;
  opacity: 1;
  z-index: 9999999;
  display: none;
}

#clock3D > span > p {
  width: 200px;
  text-align: center;
  position: absolute;
  top: 50px;
}

.clock3d_top {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  background: url(../img/clockface-white.png);
  background-size: contain;
  top: -100px;
  -webkit-transform: rotateX(90deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateX(90deg);
  -moz-transform-style: preserve-3d;
  -ms-transform: rotateX(90deg);
  -ms-transform-style: preserve-3d;

  transform: rotateX(90deg);
  transform-style: preserve-3d;
}

.clock3d_bot {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  background: url(../img/clockface-white.png);
  background-size: contain;
  top: 100px;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateX(-90deg);
  -moz-transform-style: preserve-3d;
  -ms-transform: rotateX(-90deg);
  -ms-transform-style: preserve-3d;

  transform: rotateX(-90deg);
  transform-style: preserve-3d;
}

.clock3d_back {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  background: url(../img/clockface-white.png);
  background-size: contain;
  -webkit-transform: rotateY(-180deg) translateZ(100px);
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateY(-180deg) translateZ(100px);
  -moz-transform-style: preserve-3d;
  -ms-transform: rotateY(-180deg) translateZ(100px);
  -ms-transform-style: preserve-3d;

  transform: rotateY(-180deg) translateZ(100px);
  transform-style: preserve-3d;
}

.clock3d_left {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  background: url(../img/clockface-white.png);
  background-size: contain;
  left: -100px;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateY(-90deg);
  -moz-transform-style: preserve-3d;
  -ms-transform: rotateY(-90deg);
  -ms-transform-style: preserve-3d;

  transform: rotateY(-90deg);
  transform-style: preserve-3d;
}

.clock3d_right {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  background: url(../img/clockface-white.png);
  background-size: contain;
  left: 100px;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateY(90deg);
  -moz-transform-style: preserve-3d;
  -ms-transform: rotateY(90deg);
  -ms-transform-style: preserve-3d;

  transform: rotateY(90deg);
  transform-style: preserve-3d;
}

.clock3d_front {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  background: url(../img/clockface-white.png);
  background-size: contain;
  -webkit-transform: translateZ(100px);
  -webkit-transform-style: preserve-3d;
  -moz-transform: translateZ(100px);
  -moz-transform-style: preserve-3d;
  -ms-transform: translateZ(100px);
  -ms-transform-style: preserve-3d;

  transform: translateZ(100px);
  transform-style: preserve-3d;
}

.clk_sec {
  display: block;
  width: 1px;
  height: 80px;
  background: #fff url(../img/sechand-white.png) !important;
  position: absolute;
  left: 100px;
  top: 20px;
  -webkit-transform-origin: 0px 80px 0px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform-origin: 0px 80px 0px;
  -moz-transform: rotateZ(0deg);
  -ms-transform-origin: 0px 80px 0px;
  -ms-transform: rotateZ(0deg);

  transform-origin: 0px 80px 0px;
  transform: rotateZ(0deg);
}

.clk_min {
  display: block;
  width: 4px;
  height: 70px;
  background: #fff;
  position: absolute;
  left: 98px;
  top: 30px;
  -webkit-transform-origin: 2px 70px 0px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform-origin: 2px 70px 0px;
  -moz-transform: rotateZ(0deg);
  -ms-transform-origin: 2px 70px 0px;
  -ms-transform: rotateZ(0deg);

  transform-origin: 2px 70px 0px;
  transform: rotateZ(0deg);
  border-radius: 6px;
}

.clk_hr {
  display: block;
  width: 6px;
  height: 40px;
  background: #fff;
  position: absolute;
  left: 97px;
  top: 60px;
  -webkit-transform-origin: 3px 40px 0px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform-origin: 3px 40px 0px;
  -moz-transform: rotateZ(0deg);
  -ms-transform-origin: 3px 40px 0px;
  -ms-transform: rotateZ(0deg);

  transform-origin: 3px 40px 0px;
  transform: rotateZ(0deg);
  border-radius: 6px;
}