.navbar {
  background: transparent;
  padding: 10px 0;
  border: transparent;
  margin-bottom: 0;
  font-size: 20px;
  -webkit-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out; }
  .navbar ul.nav > li > a {
    color: #FFF;
    font-size: inherit; }

.navbar-scroll {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 0; }

#footer {
  width: 100%;
  background: -webkit-linear-gradient(red, green) left repeat;
  background: linear-gradient(red, green) left repeat;
  position: fixed;
  bottom: 0;
  left: 0; }

#header {
  position: relative;
  text-align: center;
  color: #FFF;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url("../img/bg2.jpg"), -webkit-linear-gradient(#66CCCC, #EEE), center no-repeat scroll;
  background: url("../img/bg2.jpg"), linear-gradient(#66CCCC, #EEE), center no-repeat scroll;
  height: 798px;
  width: 100%; }
  #header .shadow {
    background: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit; }

#articles {
  height: 500px; }

#quotation {
  height: 500px; }

.glitch {
  color: white;
  font-size: 80px;
  position: relative;
  width: 600px;
  top: -400px;
  margin: 0 auto; }

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(81px, 9999px, 6px, 0); }
  6.66667% {
    clip: rect(50px, 9999px, 79px, 0); }
  13.33333% {
    clip: rect(29px, 9999px, 20px, 0); }
  20% {
    clip: rect(61px, 9999px, 65px, 0); }
  26.66667% {
    clip: rect(43px, 9999px, 27px, 0); }
  33.33333% {
    clip: rect(26px, 9999px, 74px, 0); }
  40% {
    clip: rect(65px, 9999px, 47px, 0); }
  46.66667% {
    clip: rect(43px, 9999px, 50px, 0); }
  53.33333% {
    clip: rect(41px, 9999px, 92px, 0); }
  60% {
    clip: rect(73px, 9999px, 48px, 0); }
  66.66667% {
    clip: rect(36px, 9999px, 48px, 0); }
  73.33333% {
    clip: rect(95px, 9999px, 28px, 0); }
  80% {
    clip: rect(11px, 9999px, 30px, 0); }
  86.66667% {
    clip: rect(61px, 9999px, 20px, 0); }
  93.33333% {
    clip: rect(38px, 9999px, 39px, 0); }
  100% {
    clip: rect(16px, 9999px, 100px, 0); } }

@keyframes noise-anim {
  0% {
    clip: rect(81px, 9999px, 6px, 0); }
  6.66667% {
    clip: rect(50px, 9999px, 79px, 0); }
  13.33333% {
    clip: rect(29px, 9999px, 20px, 0); }
  20% {
    clip: rect(61px, 9999px, 65px, 0); }
  26.66667% {
    clip: rect(43px, 9999px, 27px, 0); }
  33.33333% {
    clip: rect(26px, 9999px, 74px, 0); }
  40% {
    clip: rect(65px, 9999px, 47px, 0); }
  46.66667% {
    clip: rect(43px, 9999px, 50px, 0); }
  53.33333% {
    clip: rect(41px, 9999px, 92px, 0); }
  60% {
    clip: rect(73px, 9999px, 48px, 0); }
  66.66667% {
    clip: rect(36px, 9999px, 48px, 0); }
  73.33333% {
    clip: rect(95px, 9999px, 28px, 0); }
  80% {
    clip: rect(11px, 9999px, 30px, 0); }
  86.66667% {
    clip: rect(61px, 9999px, 20px, 0); }
  93.33333% {
    clip: rect(38px, 9999px, 39px, 0); }
  100% {
    clip: rect(16px, 9999px, 100px, 0); } }
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  text-shadow: -1px 0 blue;
  top: 0px;
  width: inherit;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
  animation: noise-anim 2s infinite linear alternate-reverse; }

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(61px, 9999px, 13px, 0); }
  6.66667% {
    clip: rect(24px, 9999px, 72px, 0); }
  13.33333% {
    clip: rect(32px, 9999px, 55px, 0); }
  20% {
    clip: rect(3px, 9999px, 85px, 0); }
  26.66667% {
    clip: rect(71px, 9999px, 71px, 0); }
  33.33333% {
    clip: rect(61px, 9999px, 11px, 0); }
  40% {
    clip: rect(51px, 9999px, 84px, 0); }
  46.66667% {
    clip: rect(90px, 9999px, 76px, 0); }
  53.33333% {
    clip: rect(88px, 9999px, 89px, 0); }
  60% {
    clip: rect(32px, 9999px, 65px, 0); }
  66.66667% {
    clip: rect(96px, 9999px, 30px, 0); }
  73.33333% {
    clip: rect(49px, 9999px, 28px, 0); }
  80% {
    clip: rect(3px, 9999px, 63px, 0); }
  86.66667% {
    clip: rect(49px, 9999px, 8px, 0); }
  93.33333% {
    clip: rect(78px, 9999px, 81px, 0); }
  100% {
    clip: rect(65px, 9999px, 13px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(61px, 9999px, 13px, 0); }
  6.66667% {
    clip: rect(24px, 9999px, 72px, 0); }
  13.33333% {
    clip: rect(32px, 9999px, 55px, 0); }
  20% {
    clip: rect(3px, 9999px, 85px, 0); }
  26.66667% {
    clip: rect(71px, 9999px, 71px, 0); }
  33.33333% {
    clip: rect(61px, 9999px, 11px, 0); }
  40% {
    clip: rect(51px, 9999px, 84px, 0); }
  46.66667% {
    clip: rect(90px, 9999px, 76px, 0); }
  53.33333% {
    clip: rect(88px, 9999px, 89px, 0); }
  60% {
    clip: rect(32px, 9999px, 65px, 0); }
  66.66667% {
    clip: rect(96px, 9999px, 30px, 0); }
  73.33333% {
    clip: rect(49px, 9999px, 28px, 0); }
  80% {
    clip: rect(3px, 9999px, 63px, 0); }
  86.66667% {
    clip: rect(49px, 9999px, 8px, 0); }
  93.33333% {
    clip: rect(78px, 9999px, 81px, 0); }
  100% {
    clip: rect(65px, 9999px, 13px, 0); } }
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -1px;
  width: inherit;
  text-shadow: 1px 0 red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
  animation: noise-anim-2 3s infinite linear alternate-reverse; }
